<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Olaf Lewandowski</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4d0aff5fd5.js" crossorigin="anonymous"></script>
</head>
<body style="background: rgb(153, 224, 217)">

<div class="container" style="
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto /* Title */ auto /* music mood recognision */ auto /* HM-alg */ auto /* Go ultimate */ auto /* Small projects */;
">
    <div class="container" style="text-align: center;">
            <span style="font-size: 4ch; font-family: 'Kaushan Script', cursive; color: #AC8FB3">Projects</span>
    </div>

    <div class="container projectsDiv">
        <div class="container prj">
            <div class="prjTitle">
                Spotify Music Mood Recognision
            </div>
            <img class="prjImg" src="{% static 'projectsImg/mmr.jpg' %}">
            <div class="prjDesc">
                <div style="font-size: 2ch;">
                    My first AI application.
                    SMMR is a model that recognizes mood of spotify song from its audio features provided by Spotify api.
                    This project shows that I can work with foreign data and adapt model to it.
                </div>
            </div>
        </div>
        <a href="{% url 'SMMR' %}"><button class="submit-btn" style="text-align: center; margin-top: 0.5ch;">OPEN</button></a>
    </div>

    <div class="container projectsDiv">
        <div class="container prj">
            <div class="prjTitle">
                Height Map Algorithm
            </div>
            <img class="prjImg" src="{% static 'projectsImg/HM-alg.jpg' %}">
            <div class="prjDesc">
                <div style="font-size: 2ch;">
                    Algorithm to determinate y value of points in a grid to simulate real-life terrain.
                    My first implementation of plane was in C++ (this is what you can see on my GitHub),
                    but on this website I have recreated it in JS and webGl.
                </div>
            </div>
        </div>
        <a href="https://github.com/OFALOFAL/HeightMapAlgoritm" target="_blank"><button class="submit-btn" style="text-align: center; margin-top: 0.5ch;">OPEN</button></a>
    </div>

    <div class="container projectsDiv">
        <div class="container prj">
            <div class="prjTitle">
                GO Ultimate
            </div>
            <img class="prjImg" src="{% static 'projectsImg/GO_U.jpg' %}">
            <div class="prjDesc">
                <div style="font-size: 2ch;">
                    Implementation of Chinese game <b>GO</b>. Game is a strategical PvP up to 10 players in lobby and offers many game modes.
                    The project was made in python/py-game and flask for server connection
                    (maybe not the best or safest solution but for one of first big projects it was good enough).
                </div>
            </div>
        </div>
        <a href="https://github.com/OFALOFAL/GO_ULTIMATE" target="_blank"><button class="submit-btn" style="text-align: center; margin-top: 0.5ch;">OPEN</button></a>
    </div>

    <div class="container projectsDiv">
        <div class="prjTitle" style="margin-bottom: 0">
            <div style="font-size: 2ch; text-align: center">
                To see all my projects visit GitHub page.
            </div>
            <a href="https://github.com/OFALOFAL" target="_blank"><button class="submit-btn" style="text-align: center; margin-top: 0.5ch;">
                OPEN
            </button></a>
        </div>

    </div>
</div>

<div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" id="closebtn" onclick="closeSidebar()">x</a>
    <a href="{% url 'Home' %}">Home</a>
    <a href="{% url 'About' %}">About</a>
    <a href="{% url 'Skills' %}">Skills</a>
    <a href="{% url 'Projects' %}">Projects</a>
    <a href="{% url 'Contact' %}">Contact</a>
</div>
<button id="openbtn" onclick="openSidebar()">☰</button>
<script>
    document.getElementById("openbtn").addEventListener("mouseenter", function(  ) {
        openSidebar();
    });
    function openSidebar() {
        document.getElementById("sidebar").style.width = "150px";
        document.getElementById("openbtn").style.padding = '0';
    }

    function closeSidebar() {
        document.getElementById("sidebar").style.width = "0";
        document.getElementById("openbtn").style.padding = '10px 15px';
    }
</script>
</body>
</html>