html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    font-family: 'Source Code Pro', monospace;
}

.topnav {
    overflow: hidden;
    background-color: rgb(197, 180, 227);
    color: #DDD;
    padding: 14px;
    text-align: center;
    text-shadow: 1px 1px rgba(197, 180, 227, 125);
    text-decoration: none;
    font-size: 17px;
}

.centerDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    background: linear-gradient(45deg, #C5B4E3FF, #a897d5, #C5B4E3FF, #a897d5);
    background-size: 400% 400%;
	animation: gradient 5s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.sidebar a {
    padding-top: 3ch;
    text-decoration: none;
    font-size: 15px;
    color: rgba(130, 126, 114 , 255);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
  color: #222222;
}

#closebtn {
    padding-top: 0;
}

.sidebar #closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

#openbtn {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(197, 180, 227);
    color: white;
    padding: 10px 15px;
    border: none;
    transition: 1s;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 20px;}
  .sidebar a {font-size: 18px;}
}

.submit-btn {
    background-color: rgb(255, 245, 227);
    border: 2px solid #AC8FB3;
    border-radius: 30px;
    box-shadow: #AC8FB3 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0 18px;
    margin-bottom: 4px;
    transition: 0.3s;
}

.submit-btn:hover {
  background-color: #fff;
}

.submit-btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .submit-btn {
    min-width: 120px;
    padding: 0 25px;
  }
}

.fa {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    width: 56px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.3s;
}

.fa:hover {
    opacity: 0.84;
}

.fa-linkedin{
    background: #0A66C2;
    color: white;
}

.fa-github{
    background: #505050;
    color: white;
}

.fa-facebook{
    background: #3A559F;
    color: white;
}
