html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Source Code Pro', monospace;
}

.topnav h3{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: calc(1.3rem + .6vw);
    color: rgb(80, 68, 45);
}

.centerDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    background: linear-gradient(45deg, rgb(208, 196, 227), #a897d5, rgb(208, 196, 227), #a897d5);
    background-size: 400% 400%;
	animation: gradient 5s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.sidebar a {
    padding-top: 1.5ch;
    padding-bottom: 1.5ch;
    text-decoration: none;
    font-size: 15px;
    color: rgba(130, 126, 114 , 255);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
  color: #222222;
}

#closebtn {
    padding-top: 0;
}

.sidebar #closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

#openbtn {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(208, 196, 227);
    color: white;
    padding: 10px 15px;
    border: none;
    transition: 1s;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 20px;}
  .sidebar a {font-size: 18px;}
}

.submit-btn {
    background-color: rgb(255, 245, 227);
    border: 2px solid #AC8FB3;
    border-radius: 30px;
    box-shadow: #AC8FB3 2px 2px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0 18px;
    margin-bottom: 4px;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #fff;
    box-shadow: #7c6981 4px 4px 0 0;
}

.submit-btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .submit-btn {
    min-width: 120px;
    padding: 0 25px;
  }
}

#contactDiv{
    width: 40%
}
#skillsDiv {
    width: 75%;
}

.skill-textDiv{
    font-size: 2ch;
    margin-left: 1ch;
}

.skill-textMoreDiv{
    font-size: 2ch;
    margin-left: 1ch;
}

@media (max-width: 1100px) {
    .skill-textMoreDiv{
        font-size: 1.4ch;
    }
}

@media (max-width: 866px) and (max-height: 800px){
    #skillsDiv{
        width: 90%
    }
}

@media (max-width: 590px) {
    #skillsDiv a{
        margin: 0;
        padding: 0;
    }
    #skillsDiv div{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    #skill-textDiv {
        margin: 0;
    }
}

.contact-links a{
    font-size: 24px;
}

#myCarousel{
    animation: myCarouselAnim 0.35s;
    transition: 0.5s;
}

@keyframes myCarouselAnim{
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0%;
    }
}

.fa, .fa-brands {
    margin-top: 1.2ch;
    margin-left: 1.5ch;
    margin-right: 1.5ch;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 2ch;
    transition: 0.3s;
}

.fa-about{
    width: 40px;
}

.fa-contact{
    width: 34px;
}

.fa:hover {
    opacity: 80%;
}

.fa,
.fa:active,
.fa:hover,
.fa:visited
.fa-brands,
.fa-brands:active,
.fa-brands:hover,
.fa-brands:visited{
    color: white !important;
    text-decoration: none !important;
}

.fa-youtube{
    background: #FF0000;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-x-twitter{
    background: #000000;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-soundcloud{
    background: #FF5500;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-chess-pawn{
    background: #81B64C;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-linkedin{
    background: #0A66C2;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-github{
    background: #505050;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-facebook{
    background: #3A559F;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
#contact-mail, #contact-name{
    width: 50%;
}

#contact-mail, #contact-name, .SMMR_inputs{
    border: 0;
    border-radius: 6px;
    background-color: rgb(255, 245, 227);
    padding-left: 1ch;
    height: 3ch;
    min-width: 150px;
}

.SMMR_inputs {
    width: 100%;
}

#message {
    border: 0;
    border-radius: 6px;
    background-color: rgb(255, 245, 227);
    resize: none;
    max-height: 200px;
    min-height: 40px;
    height: 200px;
    font-size: 15px;
    width: 100%;
    outline: none;
    padding-left: 1ch;
    padding-top: 2px;
}

@media (max-width: 945px) {
    #contactDiv{
        width: 50%
    }
}

@media (max-width: 695px) {
    #contactDiv, #skillsDiv{
        width: 80%
    }
    #contact-mail, #contact-name{
        width: 100%;
    }
}

@media (max-width: 370px) {
    #contactDiv, #skillsDiv{
        width: 95%
    }
    #contact-mail, #contact-name{
        width: 100%;
    }
    .contact-links a{
        font-size: 12px;
    }
    .fa, .fa-brands {
        font-size: 1.7ch;
        margin-top: 2ch;
        margin-left: 1px;
        width: 34px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        transition: 0.3s;
    }
}

@media (max-width: 290px) {
    #contactDiv h1{
        font-size: 2.5ch;
    }
}

.aboutImg{
    height: 35ch !important;
    margin: 0 auto;
}
.text{
    font-size: 3ch;
}

#text_1{
    grid-row: 1;
    font-family: 'Source Code Pro';
    margin-bottom: 2ch;
}

#text_2{
    grid-row: 2;
    font-family: 'Source Code Pro';
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
    height: 0;
}

@media (max-width: 1200px) {
    .image{
        visibility: hidden;
    }
    #aboutIcons{
        font-size: 2.5ch !important;
    }
    #text_1{
        grid-column: 1;
        font-size: 2ch;
    }
    .fa, .fa-brands {
        padding-top: 0.6ch;
        padding-bottom: 0.6ch;
    }
}

#aboutIcons{
    font-size: 3ch;
    margin-top: 1.5ch;
    grid-row: 4;
    font-family: 'Source Code Pro';
}

.projectsDiv {
    text-align: center;
    width: 90%;
    border: 2px dashed #a3a3a3;
    border-radius: 5px;
    margin: 1ch auto 1ch auto;
    padding: 0.5ch;
    background: rgb(208, 196, 227);
}

.prj {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    min-height: 170px;
}

.prjTitle{
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 3ch;
    margin-bottom: 0.5ch;
    background: #FFF5E3;
}

.prjImg {
    width: 30ch;
    grid-row: 2;
}

.prjDesc{
    grid-row: 2;
    margin-left: 0.5ch;
}

@media (max-width: 1100px) {
    .prjImg {
        width: 25ch;
        margin-left: auto;
        margin-right: auto;
    }
    .prjDesc{
        grid-row: 3;
    }
}
